.homepage-title {
    background-color: goldenrod;
    color: black;
    font-size: 70px;
    font-family: 'Georgia', "serif";
}

.chicken-katsu-ref,
.bacon-wrapped-ref,
.fettuccine-ref {
    color: darkgray;
    font-size: 29px;
    font-family: "Tahoma", "Verdana", "serif";
    padding: 8px 5px;
}